.container {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  height: 100%;
  padding-bottom: 5rem;
  font-family: 'Josefin Sans';
}

.apresentation {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}
.titleContent {
  position: relative;
  display: flex;
  flex-direction: column;
}
.title {
  position: absolute;
  bottom: 0;
  color: #edb409;
  font-size: 10rem;
}
.description {
  font-style: italic;
  font-weight: bold;
  padding-left: .7rem;
  font-size: 2.7rem;
  color: #d3d3d3;
}
.linkAndroid {
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  width: max-content;
  background-color: #edb409;
  color: #222;
  padding: .7rem 1.5rem;
  border-radius: .4rem;
  position: absolute;
  bottom: -4rem;
  left: 2rem;
  transition: .4s;
} .linkAndroid:hover {
  background-color: #064663;
  color: #d3d3d3;
}
.Logo {
  width: 35%;
}

.cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4rem;

}
.section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 6rem;
  gap: 3rem;
}

.textContentCard {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #d3d3d3;
  gap: 1rem;
  width: 50%;
}

.image {
  border-radius: 1rem;
  width: 18rem;
  height: 15rem;
}


@media (max-width: 720px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    height: 100%;
    padding-bottom: 5rem;
    font-family: 'Josefin Sans';
  }
  
  .apresentation {
    position: relative;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
  }
  .titleContent {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
  }
  .title {
    margin-top: 3rem;
    position: static;
    font-size: 5rem;
  }
  .description {
    padding-left: .3rem;
    font-size: 1.5rem;
  }
  .linkAndroid {
    position: static;
    margin-top: 1rem;
  } 
  .Logo {
    position: absolute;
    z-index: 0;
    right: 0;
    opacity: 0.4;
    width: 15rem;
  }
  
  .cards {
    padding: 0 2rem;
    gap: 1.5rem;
  }

  .section {
    flex-direction: column;
    gap: 2rem;
    background-color: #06466342;
    border: .1rem solid #a7a7a73c;
    border-radius: .5rem;
    padding: 1rem 0;
  }
  
  .textContentCard {
    width: 80%;
    padding-bottom: 1rem;
  }
}