@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300;400&display=swap');

.container {
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #393E46;
  border-bottom: .1rem solid #000;
  width: 100%;
}
.logo {
  width: 3rem;
}
.links {
  display: flex;
  gap: 3rem;
}
.link {
  font-family: 'Josefin Sans';
  color: #FFD369;
  text-decoration: none;
}

@media (max-width: 720px) {
  .container {
    padding: .5rem 0;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
  }
  .links {
    align-items: center;
    display: flex;
    gap: 1rem;
  }
}