.container {
  padding: .5rem 2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;
  width: 100%;
}

.logo {
  width: 4rem;
}

.links {
  display: flex;
  gap: 3rem;
}
.link {
  font-family: 'Josefin Sans';
  color: #edb409;
  text-decoration: none;
}

@media (max-width: 720px) {
  .container {
    display: none;
  }
}