@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Roboto:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  overflow-x: hidden;

}

.containerApp {
  background: url('./assets/bgImage.png');
  background-color: #000000f2;
  background-repeat: no-repeat;
  background-blend-mode: color-burn;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.mainApp {
  height: 100%;
  width: 100%;
}